@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* PAGE BODY  */
.content-wrapper{
    background-image: url('../images/app_background.jpeg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



body{
    font-family: "Poppins" !important;
    background-color: hsl(0, 0%, 20%);
}


/* SIDEBAR MENU */

.menu{margin-top: 30%;}


.logo-lg{color: rgb(65, 4, 91);}

.main-sidebar{
    border-radius: 12px;
}
.web2py-menu-active{
    background: linear-gradient(90deg, rgba(135, 38, 187, 1) 0%, rgba(42, 86, 146, 1) 88%);

    border-radius: 24px;

    max-width: 95%;

    animation: fadeInMenu 0.75s ease;

}

.sidebar{
    margin-left: 5%;
}

.sidebar-menu li.current > a {
    margin-left: 8px;
    border-radius: 6px;
}

.sidebar-menu a {
   
    font-weight: 500;
    font-size: 18px;

    border-radius: 24px;
    position: absolute;
    margin-left: 8%; 
    color: hsl(0, 0%, 85%);
}

.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar-bottom {
    margin-top: auto;
}

.info_menu {
    padding-left: 1%;
    padding-bottom: 1.6%;
    width: 13%;
    position:fixed;
    bottom: 0;
}


.material-icons{
    vertical-align: middle;
    margin-right:8px;
    font-size:20px;
}


/* TOP NAVBAR */

.page_title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.top-items{
    margin-inline-end: 2%;
    margin-top: 3%;
    padding-inline-start: 2%;
}

/* search */
.input-group{
    max-width: 20%;
    margin-left: 68%;
}


 .input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 8px 12px 8px 40px;
    border-radius: 6%;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

























/* ANIMATIONS AND EFFECTS */

/* sidebar menu backgroud fade in */
@keyframes fadeInMenu {
    from {
        opacity: 0;
        transform: translateX(-6px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}