.sidebar-menu a {
   
    font-weight: 600;
    font-size: large;

    border-radius: 24px;
    position: absolute;
    margin-left: 8%;
    color: hsl(0, 0%, 85%);
}

.info_menu {
    padding-left: 1%;
    padding-bottom: 1.6%;
    width: 13%;
    position:fixed;
    bottom: 0;
}