body{
background-color: hsl(0, 0%, 20%);
}

.page_title {
    font-size: 30px;
    font-weight: bold;
    color: hsl(0, 0%, 88%);
    margin: 3%;
}

.content-wrapper{
    background-image: url('../images/app_background.jpeg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-sidebar{
    border-radius: 12px;
}