body{
background-color: hsl(0, 0%, 20%);
}

.page_title {
    font-size: 30px;
    font-weight: bold;
    color: hsl(0, 0%, 88%);
    margin: 3%;
}

.content_wrapper{
    background-image: '../images/app_background.jpeg';
}